hr {
    margin: 0;
}

.rodape {
    background-color: var(--branco);
    padding: 1em;
}

.lista-rodape {
    display: none;
}

@media screen and (min-width: 1024px) {
    .rodape {
        display: grid;
        grid-template-columns: repeat(4, auto);
        gap: 2em;
        padding: 4em 2em;
    }

    .lista-rodape {
        display: block;
        /*Quando utilizamos display: block dentro de um media query, estamos dizendo que, 
        a partir de determinada largura de tela, o elemento deve ser exibido como um 
        bloco e ocupar um espaço na tela. Isso permite tornar o layout responsivo, 
        adaptando-se a diferentes tamanhos de tela.*/
    }

    .lista-rodape__item {
        display: flex;
        align-items: center;
        margin: 1em 0;
        gap: .5em;

    }

    .lista-rodape__link {
        color: var(--cinza);
        text-decoration: none;
        margin-left: 0.6em;

    }

    .lista-rodape__titulo {
        font-size: 14px;
        color: var(--cinza-claro);
        text-transform: uppercase;
    }

    .rodape__titulo {
        font-size: 24px;
    }

    .lista-rodape__link:hover {
        color: var(--laranja);
        }
}

@media screen and (min-width: 1728px) {
    .lista-rodape{
        border-left: 1px solid var(--cinza-claro);
        padding-left: 1em;
    }
    
    .rodape{
        padding: 3em 2em;
    }
}